body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA; /* Beige background color */
    color: #0000003b;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
}

main > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.fade-in-image {
    animation: fadeIn 20s;
    -webkit-animation: fadeIn 20s;
    -moz-animation: fadeIn 20s;
    -o-animation: fadeIn 20s;
    -ms-animation: fadeIn 20s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }